In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

1.  Select all the data from table `house_price_data` to check if the data was imported correctly.

In [4]:
casas=pd.read_csv("regression_data.csv")
casas.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,10/13/2014,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,12/9/2014,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2/25/2015,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,12/9/2014,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2/18/2015,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000

# Nueva sección

2.  Drop the column `date` from the data frame, as we would not use it in the analysis. Select all the data from the table to verify if the command worked. Limit your returned results to 10.

In [5]:
#Guardamos el dataset original
casas_original = casas

casas.drop(["date"], axis = 1, inplace= True)
casas.head(10)

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
5,7237550310,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,1230000
6,1321400060,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,257500
7,2008000270,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,291850
8,2414600126,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,229500
9,3793500160,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,323000

3. How many rows of data do you have?

In [6]:
print(len(casas.index))

21597

4.  Find the unique values of the following columns:

    - What are the unique values in the column `bedrooms`?
    - What are the unique values in the column `bathrooms`?
    - What are the unique values in the column `floors`?
    - What are the unique values in the column `condition`?
    - What are the unique values in the column `grade`?

In [7]:
uniqueValues = casas['bedrooms'].nunique()
print('Number of unique values in column "bedrooms" of the dataframe : ')
print(uniqueValues)

uniqueValues = casas['bathrooms'].nunique()
print('Number of unique values in column "bathrooms" of the dataframe : ')
print(uniqueValues)

uniqueValues = casas['floors'].nunique()
print('Number of unique values in column "floors" of the dataframe : ')
print(uniqueValues)

uniqueValues = casas['condition'].nunique()
print('Number of unique values in column "condition" of the dataframe : ')
print(uniqueValues)

uniqueValues = casas['grade'].nunique()
print('Number of unique values in column "grade" of the dataframe : ')
print(uniqueValues)

Number of unique values in column "bedrooms" of the dataframe :
12
Number of unique values in column "bathrooms" of the dataframe :
29
Number of unique values in column "floors" of the dataframe :
6
Number of unique values in column "condition" of the dataframe :
5
Number of unique values in column "grade" of the dataframe :
11

5.  Arrange the data in decreasing order by the price of the house. Return only the IDs of the top 10 most expensive houses in your data.

In [8]:
casas.sort_values(by=["price"], ascending = False, inplace = True)
casas["price"].head(10)

7245    7700000
3910    7060000
9245    6890000
4407    5570000
1446    5350000
1313    5300000
1162    5110000
8085    4670000
2624    4500000
8629    4490000
Name: price, dtype: int64

6.  What is the average price of all the properties in your data?

In [9]:
casas['price'].mean()

540296.5735055795


7. In this exercise use a simple `groupby` to check the properties of some of the categorical variables in our data

    - What is the average price of the houses grouped by bedrooms? The returned result should have only two columns: `Bedrooms` and `Average price`. 
    - What is the average `sqft_living` of the houses grouped by bedrooms? The returned result should have only two columns, `Bedrooms` and `Average_sqft_living`.
    - What is the average price of the houses with a waterfront and without a waterfront? The returned result should have only two columns, `Waterfront` and `Average_price`.
    - Is there any correlation between the columns `condition` and `grade`? Also, create a plot to visually check if there is a positive correlation or negative correlation or no correlation between both variables.

In [10]:
casas[["bedrooms", "price"]].groupby(["bedrooms"]).mean()

                 price
bedrooms
1         3.182395e+05
2         4.013877e+05
3         4.662766e+05
4         6.355647e+05
5         7.868741e+05
6         8.258535e+05
7         9.514478e+05
8         1.105077e+06
9         8.939998e+05
10        8.200000e+05
11        5.200000e+05
33        6.400000e+05

In [11]:
casas[["bedrooms", "sqft_living"]].groupby(["bedrooms"]).mean()

          sqft_living
bedrooms
1          888.153061
2         1239.752899
3         1805.837235
4         2554.649666
5         3047.545284
6         3284.341912
7         3974.210526
8         3800.000000
9         3775.000000
10        3706.666667
11        3000.000000
33        1620.000000

In [12]:
casas[["price", "waterfront"]].groupby(["waterfront"]).mean()

                   price
waterfront
0           5.317623e+05
1           1.662524e+06

In [13]:
casas[["condition", "grade"]].corr()

sns.scatterplot(casas["condition"], casas["grade"])

#No hay demasiada correlacion

TypeError: scatterplot() takes from 0 to 1 positional arguments but 2 were given

8. One of the customers is only interested in the following houses:

    - Number of bedrooms either 3 or 4
    - Bathrooms more than 3
    - One Floor
    - No waterfront
    - Condition should be 3 at least
    - Grade should be 5 at least
    - Price smaller than 300000

    For the rest of the things, they are not too concerned. Write code to find what are the houses available for them?

In [ ]:

casas[(casas['bedrooms']==3) | (casas['bedrooms']==4)] & (casas['bathrooms']>3) & (casas['floors']==1) & (casas['waterfront']==0) & (casas['condition']>=3) & (casas['grade']>=5) & (casas['price']>300000)
print(casas)

#No hay casas que cumplan estas condiciones

:

9. Your manager wants to find out the list of properties whose prices are twice more than the average of all the properties in the database. Write code to show them the list of such properties.

In [ ]:
media = casas["price"].mean()
casas[casas["price"]>media*2]

:

10. Most customers are interested in properties with three or four bedrooms. What is the difference in average prices of the properties with three and four bedrooms? In this case you can simply use a `groupby` to check the prices for those particular houses.

In [ ]:
#average prices of the properties with three bedrooms
(casas[casas['bedrooms']==3]['price'].mean())

:

In [ ]:
#average prices of the properties with four bedrooms
casas[casas['bedrooms']==4]['price'].mean()

:

In [ ]:
(casas[casas['bedrooms']==4]['price'].mean())-((casas[casas['bedrooms']==3]['price'].mean()))

#Las viviendas con 3 habitaciones, son casi 170.000 euros mas baratas que las viviendas con 4 habitacines.

:

11. What are the different locations where properties are available in your database? (distinct zip codes).

In [ ]:
casas["zipcode"].unique()

:



12. Show all the properties that were renovated.

In [ ]:
casas[casas['yr_renovated']>0]

:

13. Provide the details of the property that is the 11th most expensive property in your database.

In [ ]:
display(casas.iloc(11))

: